# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/.artifacts/

# vite
/dist/

# production
/build
/MuseMare Setup.exe

# misc
.DS_Store
*.pem

# debug
bun-error.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# generated styles
/app/globals.css
/app/globals.css.map
/app/styles/*.css
/app/styles/*.css.map

/electron/node_modules
